html,
body {
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #5f687b;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 992px) {
    .nav-item {
        padding: 15px 0;
    }
}

.nav-item {
    font-size: 18px;
    font-weight: 600;
}

.btn-one {
    color: #fff;
    background: #26a4f1;
}

.title {
    color: #2194ff;
}

.btn-one:hover {
    background: #2194ff;
    color: #fff;
}

.wsel {
    font-weight: 700;
    border: 2px solid #1B1C1E!important;
}

#dewChart.table>:not(caption)>*>* {
    border: none;
}

.odd {
    color: #1B1C1E;
}

.odd td {
    padding: 10px;
}

.excls {
    background: #fd0100;
    background: -moz-linear-gradient(left, #fd0100 40%, #fd0100 40%, #eb8d0f 60%);
    background: -webkit-gradient(linear, left top, right top, color-stop(40%, #fd0100), color-stop(40%, #fd0100), color-stop(60%, #eb8d0f));
    background: -webkit-linear-gradient(left, #fd0100 40%, #fd0100 40%, #eb8d0f 60%);
    background: -o-linear-gradient(left, #fd0100 40%, #fd0100 40%, #eb8d0f 60%);
    background: -ms-linear-gradient(left, #fd0100 40%, #fd0100 40%, #eb8d0f 60%);
    background: linear-gradient(to right, #fd0100 40%, #fd0100 40%, #eb8d0f 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd0100', endColorstr='#eb8d0f', GradientType=1)
}

.exclss {
    background: #cf7;
    background: -moz-linear-gradient(left, #ccff77 0%, #ccff77 0%, #ccff77 40%, #66ff11 60%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ccff77), color-stop(0%, #ccff77), color-stop(40%, #ccff77), color-stop(60%, #66ff11));
    background: -webkit-linear-gradient(left, #ccff77 0%, #ccff77 0%, #ccff77 40%, #66ff11 60%);
    background: -o-linear-gradient(left, #ccff77 0%, #ccff77 0%, #ccff77 40%, #66ff11 60%);
    background: -ms-linear-gradient(left, #ccff77 0%, #ccff77 0%, #ccff77 40%, #66ff11 60%);
    background: linear-gradient(to right, #ccff77 0%, #ccff77 0%, #ccff77 40%, #66ff11 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccff77', endColorstr='#66ff11', GradientType=1)
}