.clean-block.dark {
    background-color: #f6f6f6;
}

@media only screen and (min-width: 576px) {
    .clean-block {
        padding-bottom: 100px;
    }

}

.clean-block {
    padding-bottom: 50px;
}

.clean-block .block-heading {
    padding-top: 150px;
    margin-bottom: 40px;
    text-align: center;
}

.clean-block.clean-form form {
    border-top: 2px solid #5ea4f3;
    background-color: #fff;
    max-width: 500px;
    margin: auto;
    padding: 40px;
    box-shadow: 0px 2px 10px rgba(0,0,0,.075);
  }
  
  