#hero {
    width: 100%;
    height: 80vh;
    padding-top: 135px;
}

#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #3e4450;
}

#hero h2 {
    color: #858ea1;
    margin: 10px 0 30px 0;
    font-size: 24px;
}

#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px 10px 30px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #26a4f1;
    box-shadow: 0 8px 28px rgba(22, 103, 223, 0.45);
    margin-right: 10px;
}

#hero .btn-get-started:hover {
    background: #2194ff;
    box-shadow: 0 8px 28px rgba(32, 107, 251, 0.45);
}

#hero .btn-watch-video {
    font-size: 16px;
    display: inline-block;
    transition: 0.5s;
    margin-left: 25px;
    color: #5f687b;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}



#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media only screen and (max-width: 992px) {
    #hero {
        height: 100vh;
    }

    #hero .animated {
        -webkit-animation: none;
        animation: none;
    }

    #hero .hero-img {
        text-align: center;
    }

    #hero .hero-img img {
        width: 50%;
    }
    
    .img-instruction {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    #hero {
        height: auto;
    }

    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #hero .hero-img img {
        width: 70%;
    }

    .img-instruction {
        width: 70%;
    }
}

@media only screen and (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
    .img-instruction {
        width: 80%;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.features-icons {
    padding: 10rem 0 3rem 0;
}

.features-icons .features-icons-item {
    padding: 20px;
    background: #f9f9fa;
    border-radius: 4px;
    border: 1px solid #f9f9fa;
    transition: 0.3s;
    height: 100%;
}

.features-icons-item .features-icons-icon {
    margin: 0 0 20px 0;
}

.features-icons-item .features-icons-icon img {
    filter: invert(58%) sepia(68%) saturate(3467%) hue-rotate(176deg) brightness(101%);
    height: 4.5rem;
}

.features-icons .icon-box:hover {
    border-color: #eaecef;
}


#instruction {
    padding: 5rem 0;
}

#demo {
    padding: 5rem 0;
}

.btn-start {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    transition: 0.5s;
    color: #fff;
    background: #26a4f1;
    padding: 5px 30px;
}

.btn-start:hover {
    background: #2194ff;
    color: #fff;
}

.btn-start {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    transition: 0.5s;
    color: #fff;
    background: #26a4f1;
    padding: 5px 30px;
}

.btn-start:hover {
    background: #2194ff;
    color: #fff;
}

.btn-demo {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    transition: 0.5s;
    color: #fff;
    background: #1ebbd7;
    padding: 5px 30px;
}

.btn-demo:hover {
    background: #1cb2cc;
    color: #fff;
}