#profil {
    padding-top: 135px;
    padding-bottom: 50px;
}

.testimonial-item {
    text-align: center;
    max-width: 18rem;
}

.testimonial-item img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}


img, svg {
    vertical-align: middle;
}