<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header', {
        title: 'About'
    }) %>
</head>
<link rel="stylesheet" href="/static/styles/profil.css" type="text/css">
<body>
    <%- include('../partials/navbar', {
        active: 3
    }) %>
    <div id="profil" class="container">
        <h2 class="text-uppercase text-center text-secondary mb-0">About Me</h2>
        <hr class="mb-5" />
                <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="/static/images/Juan.jpg" />
                    <h5>Juan Patrick</h5>
                    <p class="font-weight-light mb-0 text-start">Seorang Mahasiswa Teknik Komputer Universitas Indonesia. Juan bekerja sebagai web developer dan memiliki rasa antusias terhadap web development. Juan mengerjakan web Thermal.io dari proses planning, design, building, hingga deployment. </p>      
        </div>
    </div>
    <div id="message-author" class="p-5">
        <blockquote class="blockquote">
            <p class="text-center">Semoga web ini memberikan inovasi dan membuat teknologi dapat terus berkembang.</p>
        </blockquote>
    </div>

    <%- include('../partials/btn-anchor') %>
    <%- include('../partials/footer') %>
</body>

</html>
