<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header', {
        title: 'Documentation'
    }) %>
</head>

<body>
    <%- include('../partials/navbar', {
        active: 2
    }) %>
    Test
    <%- include('../partials/btn-anchor') %>
    <%- include('../partials/footer') %>
</body>

</html>
