<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/header', {
        title: 'Home'
    }) %>
  <link rel="stylesheet" href="/static/styles/home.css" type="text/css">
</head>

<body>
  <%- include('../partials/navbar', {
    active: 1
  }) %>
  <!-- header banner -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Thermal.io</h1>
          <h2>Web IoT menganalisis perkembangan suhu</h2>
          <div class="d-flex">
            <a href="/form" class="btn-get-started scrollto">Mulai</a>
            <a href="https://youtu.be/kjCo3nu7iSg" class="glightbox btn-watch-video"><img
                src="/static/icons/play-circle.svg" height="25px"
                style="filter: invert(51%) sepia(76%) saturate(4148%) hue-rotate(164deg) brightness(99%) contrast(101%);margin-right: 5px;" /><span>Nonton
                Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="/static/images/HeaderImage.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  </section>
  <!-- header banner -->

  <!-- features -->
  <section class="text-center features-icons">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
            <div class="d-flex features-icons-icon"><img src="/static/icons/graph-up.svg" class="m-auto" /></div>
            <h3>Simulasi Grafik</h3>
            <p class="lead mb-0">Thermal.io menyajikan data-data suhu dan kelembapan dalam tabel dan grafik</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
            <div class="d-flex features-icons-icon"><img src="/static/icons/file-text.svg" class=" m-auto" /></div>
            <h3>Analisis Suhu</h3>
            <p class="lead mb-0 ">Thermal.io dapat melakukan analisis suhu dan kelembapan dengan menentukan kenyamanan
              ruangan pengguna</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
            <div class="d-flex features-icons-icon"><img src="/static/icons/shield-check.svg" class=" m-auto" /></div>
            <h3>Kejaminan data pengguna</h3>
            <p class="lead mb-0">Thermal.io tidak menyimpan data pengguna terkait identitas, key id, atau nama device
              dan project digunakan pengguna</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- features -->

  <!-- Instruction -->
  <section id="instruction">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-center">
          <img src="/static/images/Guide.png" class="img-fluid img-instruction" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>Cara Menggunakan Thermal.io</h3>
          <ol class="lead">
            <li> Siapkan project Antares</li>
            <li> Project antares memiliki ketentuan data yang harus berisi <strong>temperature</strong> dan
              <strong>humidity</strong></li>
            <li> Masukan key id, nama device, dan nama project</li>
            <li> Thermal.io akan menyajikan hasil data sensor</li>
            <li> Selamat mencoba!</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!-- Instruction -->

  <!-- demo -->
  <section id="demo">
    <div class="container">
      <div class="row pb-3">
        <div class="col-lg-8 text-center mx-auto">
          <h2 class="section-heading">Ayo Coba Sekarang!</h2>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6 text-center ms-auto d-flex flex-column justify-content-between my-3">
          <h5 class="mb-5">Memiliki project Antares</h5>
          <a role="button" href="/form" class="btn btn-start mx-auto">Masuk</a>
        </div>
        <div class="col-md-6 text-center me-auto d-flex flex-column justify-content-between my-3">
          <h5 class="mb-5">Tidak memiliki project antares? Tidak masalah! Anda masih dapat mencoba Thermal.io</h5>
          <a role="button" href="/app" class="btn btn-demo mx-auto">Demo</a>
        </div>
      </div>
    </div>
  </section>
  <!-- demo -->
  <%- include('../partials/btn-anchor') %>
  <%- include('../partials/footer') %>
</body>

</html>
