<%  //Menghitung semua status pada semua mapel            
    let temperature = 0;
    let humidity = 0;
    let rateTemparature = 0;
    let rateHumidity = 0;
    let count = 0;

    for(let i = 0; i < data.length; i++) {
        temperature += data[i].content.temperature;
        humidity += data[i].content.humidity;
        count++;
    }
    
    if(count > 0) {
        rateTemparature = Math.round(temperature/count);
        rateHumidity = Math.round(humidity/count);
    }   
%>

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/header', {
        title: 'Thermal.io'
    }) %>
    <script src="/static/script/jquery-3.6.0.min.js"></script>
    <script src="/static/script/app.js"></script>
    <script src="/static/script/chart.min.js"></script>
    <script src="/static/script/lottie-player.js"></script>
</head>
<body>
    <%- include('../../partials/navbar', {
        active: 2
    }) %>
    <div class="container">
        <div style="padding-top: 140px;">
            
        </div>
        <!-- title -->
        <div>
            <h3 class="text-dark mb-0">Dashboard</h3>
        </div>
        <em>*Jika kembali ke halaman utama, maka data input Anda terhapus dan kembali menggunakan data dummy</em>
        <!-- title -->
        <!-- latest data -->
        <div class="row justify-content-center">
            <div class="col-md-6 feature-box">
                <div class="card shadow mx-1 my-2 border-start-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-danger fw-bold text-xs mb-1"><span>Temperature (Suhu)</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span><%= JSON.stringify(data[0].content.temperature) %> <sup>o</sup>C</span></div>
                            </div>
                            <div class="col-auto"><img
                                src="/static/icons/thermometer-half.svg" height="50px"
                                style="filter: invert(11%) sepia(47%) saturate(7351%) hue-rotate(1deg) brightness(86%) contrast(117%);" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 feature-box">
                <div class="card shadow mx-1 my-2 border-start-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>Humidity (Kelembapan)</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span><%= JSON.stringify(data[0].content.humidity) %> %</span></div>
                            </div>
                            <div class="col-auto"><img
                                src="/static/icons/droplet-fill.svg" height="50px"
                                style="filter: invert(51%) sepia(76%) saturate(4148%) hue-rotate(164deg) brightness(99%) contrast(101%);" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- latest data -->
        <!-- grafik suhu -->
        <div class="row">
            <div class="col-lg-7 col-xl-8">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="fw-bold m-0">Graph Temperature</h6>
                    </div>
                    <div class="card-body">
                        <div id="TemperatureGraph" style="width: 100%;">
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="card shadow mb-4 h-75">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="fw-bold m-0">Average Temperature</h6>
                    </div>
                    <div class="card-body text-center d-flex justify-content-center flex-column h-100 align-items-center">

                        <% if(JSON.stringify(data[0].content.temperature) == "\"Tidak Diketahui\"") { %>
                                Tidak Diketahui
                        <% } else { %>
                            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_ouwqvdau.json" background="transparent"  speed="1"  style="width: 300px;" class="h-75" loop autoplay></lottie-player>
                            <div class="my-auto h-25">
                                <h1 class=""> 
                                    <%= rateTemparature %> <sup>o</sup>C
                            </h1>
                            </div>
                            
                        <% } %>
                    
                        
                    </div>
                </div>
            </div>
        </div>
        
        <!-- grafik suhu -->

        <!-- grafik Kelembapan -->
        <div class="row">
            <div class="col-lg-7 col-xl-8">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="fw-bold m-0">Graph Humidity</h6>
                    </div>
                    <div class="card-body">
                        <div id="HumidityGraph" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="card shadow mb-4 h-75">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="fw-bold m-0">Average Humidity</h6>
                    </div>
                    <div class="card-body d-flex justify-content-center flex-column h-100 align-items-center">
                        <% if(JSON.stringify(data[0].content.humidity) == "\"Tidak Diketahui\"") { %>
                            Tidak Diketahui
                        <% } else { %>
                            
                            <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_nfxa6agk.json" background="transparent"  speed="1"  style="width: 300px;" class="h-75" loop autoplay></lottie-player>
                         
                                
                            <div class="my-auto h-25">
                                    <h1 class=""> 
                                    <%= rateHumidity %> %
                                </h1>
                                </div>
                            
                        
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
        <!-- grafik Kelembapan -->

        <!-- table -->
        <div class="my-5">
            <div class="my-4">
                <h4 class="text-dark mb-0 my-3">Data Perkembangan Suhu Ruangan</h4>
            </div>
            <div id="dataTable" style="overflow-y: hidden; overflow-x: scroll;" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                <table id="dataTable" class="table table-secondary">
                    <thead>
                        <tr class="text-center">
                            <th>No</th>
                            <th>Temperature (<sup>o</sup>C)</th>
                            <th>Humidity (%)</th>
                            <th>Created Date</th>
                            <th>Updated Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach(function(item, position) { %>
                        <tr class="text-center">
                            <td><strong><%= position+1 %></strong></td>
                            <td class="temperature"><%= JSON.stringify(item.content.temperature) %></td>
                            <td class="humidity"><%= JSON.stringify(item.content.humidity) %></td>
                            <td><%= item['m2m:cin'].ct.slice(0, 4) + '-' + item['m2m:cin'].ct.slice(4, 6) + '-' + item['m2m:cin'].ct.slice(6, 8) + "    Time: " + item['m2m:cin'].ct.slice(9, 11) + ':' + item['m2m:cin'].ct.slice(11, 13) + ':'  + item['m2m:cin'].ct.slice(13, 15) %></td>
                            <td><%= item['m2m:cin'].lt.slice(0, 4) + '-' + item['m2m:cin'].lt.slice(4, 6) + '-' + item['m2m:cin'].lt.slice(6, 8) + " Time: " + item['m2m:cin'].lt.slice(9, 11) + ':' + item['m2m:cin'].lt.slice(11, 13) + ':'  + item['m2m:cin'].lt.slice(13, 15) %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                    <tfoot>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- table -->
        <!-- dew point -->
        <%- include('./dewpoint') %>
        <!-- dew point -->
        <div style="margin:40px 0 200px 0;">
            <h4 class="text-dark mb-0 pb-2">Analisis</h4>
            <div id="status">
                

            </div>
        </div>
        
    </div>

    <%- include('../../partials/btn-anchor') %>
    <%- include('../../partials/footer') %>
    <script src="/static/script/calculate.js"></script>
</body>

</html>
