<div>
    <h4 class="text-dark mb-0 my-3">Dew Point</h4>
    <table class="GoodResults table table-secondary" style="margin-top:1.5em">
        <tbody>
            <tr>
                <th colspan="4" class="text-center h-25" style="font-size:20px">Result</th>
            </tr>
            <tr class="text-center">
                <th rowspan="2" style="vertical-align: middle;font-size: 18px;">Dew Point (T<sub>dew</sub>)</th>
                <th>Fahrenheit (°F)</th>
                <th>Celsius (°C)</th>
                <th>Kelvin (K)</th>
            </tr>
            <tr class="odd text-center">
                <td id="pe"></td>
                <td id="pe1"></td>
                <td id="pe2"></td>
            </tr>
        </tbody>
    </table>
</div>
<h5 class="text-dark mb-0 my-3">Dew Point Chart</h5>
<div id="dewChart" style="overflow-y: hidden; overflow-x: scroll; text-align: center;" class="table-responsive table">
    <table style="margin-top:1em" id="wchart" class="GoodResults table table-borderless table-primary">
        <tbody>
            <tr>
                <th rowspan="2" style="vertical-align: middle;text-align: center;">Temperature (°F)</th>
                <th colspan="13">Relative Humidity (%)</th>
            </tr>
            <tr class="text-center">
                <th class="wmph">40</th>
                <th class="wmph">45</th>
                <th class="wmph">50</th>
                <th class="wmph">55</th>
                <th class="wmph">60</th>
                <th class="wmph">65</th>
                <th class="wmph">70</th>
                <th class="wmph">75</th>
                <th class="wmph">80</th>
                <th class="wmph">85</th>
                <th class="wmph">90</th>
                <th class="wmph">95</th>
                <th class="wmph">100</th>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">100</td>
                <td class="wchres" style="background-color:#eb8d0f">71.3</td>
                <td class="wchres" style="background-color:#eb8d0f">74.8</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">78</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">80.9</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">83.6</td>
                <td class="wchres" style="background-color:#eee">86.1</td>
                <td class="wchres" style="background-color:#eee">88.4</td>
                <td class="wchres" style="background-color:#eee">90.6</td>
                <td class="wchres" style="background-color:#eee">92.7</td>
                <td class="wchres" style="background-color:#eee">94.7</td>
                <td class="wchres" style="background-color:#eee">96.5</td>
                <td class="wchres" style="background-color:#eee">98.3</td>
                <td class="wchres" style="background-color:#eee">100</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">99</td>
                <td class="wchres" style="background-color:#fadf52">70.4</td>
                <td class="wchres" style="background-color:#eb8d0f">73.9</td>
                <td class="wchres" style="background-color:#eb8d0f">77.1</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">80</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">82.7</td>
                <td class="wchres" style="background-color:#eee">85.1</td>
                <td class="wchres" style="background-color:#eee">87.5</td>
                <td class="wchres" style="background-color:#eee">89.7</td>
                <td class="wchres" style="background-color:#eee">91.7</td>
                <td class="wchres" style="background-color:#eee">93.7</td>
                <td class="wchres" style="background-color:#eee">95.5</td>
                <td class="wchres" style="background-color:#eee">97.3</td>
                <td class="wchres" style="background-color:#eee">99</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">97</td>
                <td class="wchres" style="background-color:#fadf52">68.6</td>
                <td class="wchres" style="background-color:#eb8d0f">72.1</td>
                <td class="wchres" style="background-color:#eb8d0f">75.2</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">78.1</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">80.8</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">83.3</td>
                <td class="wchres" style="background-color:#eee">85.6</td>
                <td class="wchres" style="background-color:#eee">87.7</td>
                <td class="wchres" style="background-color:#eee">89.8</td>
                <td class="wchres" style="background-color:#eee">91.7</td>
                <td class="wchres" style="background-color:#eee">93.6</td>
                <td class="wchres" style="background-color:#eee">95.3</td>
                <td class="wchres" style="background-color:#eee">97</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">95</td>
                <td class="wchres" style="background-color:#fadf52">66.9</td>
                <td class="wchres" style="background-color:#fadf52">70.3</td>
                <td class="wchres" style="background-color:#eb8d0f">73.4</td>
                <td class="wchres" style="background-color:#eb8d0f">76.3</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">78.9</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">81.4</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">83.7</td>
                <td class="wchres" style="background-color:#eee">85.8</td>
                <td class="wchres" style="background-color:#eee">87.8</td>
                <td class="wchres" style="background-color:#eee">89.8</td>
                <td class="wchres" style="background-color:#eee">91.6</td>
                <td class="wchres" style="background-color:#eee">93.3</td>
                <td class="wchres" style="background-color:#eee">95</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">93</td>
                <td class="wchres" style="background-color:#fdfc86">65.1</td>
                <td class="wchres" style="background-color:#fadf52">68.5</td>
                <td class="wchres" style="background-color:#eb8d0f">71.6</td>
                <td class="wchres" style="background-color:#eb8d0f">74.4</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">77</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">79.5</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">81.7</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">83.9</td>
                <td class="wchres" style="background-color:#eee">85.9</td>
                <td class="wchres" style="background-color:#eee">87.8</td>
                <td class="wchres" style="background-color:#eee">89.6</td>
                <td class="wchres" style="background-color:#eee">91.3</td>
                <td class="wchres" style="background-color:#eee">93</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">91</td>
                <td class="wchres" style="background-color:#fdfc86">63.3</td>
                <td class="wchres" style="background-color:#fadf52">66.7</td>
                <td class="wchres" style="background-color:#fadf52">69.8</td>
                <td class="wchres" style="background-color:#eb8d0f">72.6</td>
                <td class="wchres" style="background-color:#eb8d0f">75.2</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">77.6</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">79.8</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">82</td>
                <td class="wchres" style="background-color:#eee">84</td>
                <td class="wchres" style="background-color:#eee">85.8</td>
                <td class="wchres" style="background-color:#eee">87.6</td>
                <td class="wchres" style="background-color:#eee">89.4</td>
                <td class="wchres" style="background-color:#eee">91</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">90</td>
                <td class="wchres" style="background-color:#fdfc86">62.4</td>
                <td class="wchres" style="background-color:#fdfc86">65.8</td>
                <td class="wchres" style="background-color:#fadf52">68.8</td>
                <td class="wchres" style="background-color:#fadf52">71.6</td>
                <td class="wchres" style="background-color:#eb8d0f">74.2</td>
                <td class="wchres" style="background-color:#eb8d0f">76.6</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">78.9</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">81</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">83</td>
                <td class="wchres" style="background-color:#eee">84.9</td>
                <td class="wchres" style="background-color:#eee">86.7</td>
                <td class="wchres" style="background-color:#eee">88.4</td>
                <td class="wchres" style="background-color:#eee">90</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">88</td>
                <td class="wchres" style="background-color:#cf7">60.6</td>
                <td class="wchres" style="background-color:#fdfc86">64</td>
                <td class="wchres" style="background-color:#fadf52">67</td>
                <td class="wchres" style="background-color:#fadf52">69.8</td>
                <td class="wchres" style="background-color:#eb8d0f">72.4</td>
                <td class="wchres" style="background-color:#eb8d0f">74.7</td>
                <td class="wchres" style="background-color:#eb8d0f">77</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">79.1</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">81</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">82.9</td>
                <td class="wchres" style="background-color:#eee">84.7</td>
                <td class="wchres" style="background-color:#eee">86.4</td>
                <td class="wchres" style="background-color:#eee">88</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">86</td>
                <td class="wchres" style="background-color:#cf7">58.9</td>
                <td class="wchres" style="background-color:#fdfc86">62.2</td>
                <td class="wchres" style="background-color:#fdfc86">65.2</td>
                <td class="wchres" style="background-color:#fadf52">67.9</td>
                <td class="wchres" style="background-color:#fadf52">70.5</td>
                <td class="wchres" style="background-color:#eb8d0f">72.9</td>
                <td class="wchres" style="background-color:#eb8d0f">75.1</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">77.1</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">79.1</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">81</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">82.7</td>
                <td class="wchres" style="background-color:#eee">84.4</td>
                <td class="wchres" style="background-color:#eee">86</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">84</td>
                <td class="wchres" style="background-color:#cf7">57.1</td>
                <td class="wchres" style="background-color:#cf7">60.4</td>
                <td class="wchres" style="background-color:#fdfc86">63.4</td>
                <td class="wchres" style="background-color:#fadf52">66.1</td>
                <td class="wchres" style="background-color:#fadf52">68.6</td>
                <td class="wchres" style="background-color:#fadf52">71</td>
                <td class="wchres" style="background-color:#eb8d0f">73.2</td>
                <td class="wchres" style="background-color:#eb8d0f">75.2</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">77.2</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">79</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">80.7</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">82.4</td>
                <td class="wchres" style="background-color:#eee">84</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">82</td>
                <td class="wchres" style="background-color:#cf7">55.3</td>
                <td class="wchres" style="background-color:#cf7">58.6</td>
                <td class="wchres" style="background-color:#fdfc86">61.5</td>
                <td class="wchres" style="background-color:#fdfc86">64.2</td>
                <td class="wchres" style="background-color:#fadf52">66.7</td>
                <td class="wchres" style="background-color:#fadf52">69.1</td>
                <td class="wchres" style="background-color:#eb8d0f">71.2</td>
                <td class="wchres" style="background-color:#eb8d0f">73.3</td>
                <td class="wchres" style="background-color:#eb8d0f">75.2</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">77</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">78.8</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">80.4</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">82</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">81</td>
                <td class="wchres" style="background-color:#6f1">54.4</td>
                <td class="wchres" style="background-color:#cf7">57.7</td>
                <td class="wchres" style="background-color:#cf7">60.6</td>
                <td class="wchres" style="background-color:#fdfc86">63.3</td>
                <td class="wchres" style="background-color:#fdfc86">65.8</td>
                <td class="wchres" style="background-color:#fadf52">68.1</td>
                <td class="wchres" style="background-color:#fadf52">70.3</td>
                <td class="wchres" style="background-color:#eb8d0f">72.3</td>
                <td class="wchres" style="background-color:#eb8d0f">74.2</td>
                <td class="wchres" style="background-color:#eb8d0f">76.1</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">77.8</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">79.4</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">81</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">79</td>
                <td class="wchres" style="background-color:#6f1">52.6</td>
                <td class="wchres" style="background-color:#cf7">55.9</td>
                <td class="wchres" style="background-color:#cf7">58.8</td>
                <td class="wchres" style="background-color:#fdfc86">61.5</td>
                <td class="wchres" style="background-color:#fdfc86">63.9</td>
                <td class="wchres" style="background-color:#fdfc86">66.2</td>
                <td class="wchres" style="background-color:#fadf52">68.4</td>
                <td class="wchres" style="background-color:#fadf52">70.4</td>
                <td class="wchres" style="background-color:#eb8d0f">72.3</td>
                <td class="wchres" style="background-color:#eb8d0f">74.1</td>
                <td class="wchres" style="background-color:#eb8d0f">75.8</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">77.4</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">79</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">77</td>
                <td class="wchres" style="background-color:#6f1">50.8</td>
                <td class="wchres" style="background-color:#6f1">54</td>
                <td class="wchres" style="background-color:#cf7">56.9</td>
                <td class="wchres" style="background-color:#cf7">59.6</td>
                <td class="wchres" style="background-color:#fdfc86">62.1</td>
                <td class="wchres" style="background-color:#fdfc86">64.3</td>
                <td class="wchres" style="background-color:#fadf52">66.5</td>
                <td class="wchres" style="background-color:#fadf52">68.5</td>
                <td class="wchres" style="background-color:#fadf52">70.4</td>
                <td class="wchres" style="background-color:#eb8d0f">72.1</td>
                <td class="wchres" style="background-color:#eb8d0f">73.8</td>
                <td class="wchres" style="background-color:#eb8d0f">75.5</td>
                <td class="wchres" style="background-color:#fd0100; color: #fff;">77</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">75</td>
                <td class="wchres" style="background-color:#7cf">49.1</td>
                <td class="wchres" style="background-color:#6f1">52.2</td>
                <td class="wchres" style="background-color:#6f1">55.1</td>
                <td class="wchres" style="background-color:#cf7">57.7</td>
                <td class="wchres" style="background-color:#cf7">60.2</td>
                <td class="wchres" style="background-color:#fdfc86">62.4</td>
                <td class="wchres" style="background-color:#fdfc86">64.6</td>
                <td class="wchres" style="background-color:#fadf52">66.5</td>
                <td class="wchres" style="background-color:#fadf52">68.4</td>
                <td class="wchres" style="background-color:#fadf52">70.2</td>
                <td class="wchres" style="background-color:#eb8d0f">71.9</td>
                <td class="wchres" style="background-color:#eb8d0f">73.5</td>
                <td class="wchres" style="background-color:#eb8d0f">75</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">74</td>
                <td class="wchres" style="background-color:#7cf">48.2</td>
                <td class="wchres" style="background-color:#6f1">51.3</td>
                <td class="wchres" style="background-color:#6f1">54.2</td>
                <td class="wchres" style="background-color:#cf7">56.8</td>
                <td class="wchres" style="background-color:#cf7">59.2</td>
                <td class="wchres" style="background-color:#fdfc86">61.5</td>
                <td class="wchres" style="background-color:#fdfc86">63.6</td>
                <td class="wchres" style="background-color:#fdfc86">65.6</td>
                <td class="wchres" style="background-color:#fadf52">67.4</td>
                <td class="wchres" style="background-color:#fadf52">69.2</td>
                <td class="wchres" style="background-color:#fadf52">70.9</td>
                <td class="wchres" style="background-color:#eb8d0f">72.5</td>
                <td class="wchres" style="background-color:#eb8d0f">74</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">72</td>
                <td class="wchres" style="background-color:#7cf">46.4</td>
                <td class="wchres" style="background-color:#7cf">49.5</td>
                <td class="wchres" style="background-color:#6f1">52.4</td>
                <td class="wchres" style="background-color:#6f1">55</td>
                <td class="wchres" style="background-color:#cf7">57.4</td>
                <td class="wchres" style="background-color:#cf7">59.6</td>
                <td class="wchres" style="background-color:#fdfc86">61.7</td>
                <td class="wchres" style="background-color:#fdfc86">63.6</td>
                <td class="wchres" style="background-color:#fdfc86">65.5</td>
                <td class="wchres" style="background-color:#fadf52">67.2</td>
                <td class="wchres" style="background-color:#fadf52">68.9</td>
                <td class="wchres" style="background-color:#fadf52">70.5</td>
                <td class="wchres" style="background-color:#eb8d0f">72</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">70</td>
                <td class="wchres" style="background-color:#eee">44.6</td>
                <td class="wchres" style="background-color:#7cf">47.7</td>
                <td class="wchres" style="background-color:#6f1">50.5</td>
                <td class="wchres" style="background-color:#6f1">53.1</td>
                <td class="wchres" style="background-color:#6f1">55.5</td>
                <td class="wchres" style="background-color:#cf7">57.7</td>
                <td class="wchres" style="background-color:#cf7">59.8</td>
                <td class="wchres" style="background-color:#fdfc86">61.7</td>
                <td class="wchres" style="background-color:#fdfc86">63.5</td>
                <td class="wchres" style="background-color:#fdfc86">65.3</td>
                <td class="wchres" style="background-color:#fadf52">66.9</td>
                <td class="wchres" style="background-color:#fadf52">68.5</td>
                <td class="wchres" style="background-color:#fadf52">70</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">68</td>
                <td class="wchres" style="background-color:#eee">42.8</td>
                <td class="wchres" style="background-color:#7cf">45.9</td>
                <td class="wchres" style="background-color:#7cf">48.7</td>
                <td class="wchres" style="background-color:#6f1">51.2</td>
                <td class="wchres" style="background-color:#6f1">53.6</td>
                <td class="wchres" style="background-color:#cf7">55.8</td>
                <td class="wchres" style="background-color:#cf7">57.9</td>
                <td class="wchres" style="background-color:#cf7">59.8</td>
                <td class="wchres" style="background-color:#fdfc86">61.6</td>
                <td class="wchres" style="background-color:#fdfc86">63.3</td>
                <td class="wchres" style="background-color:#fdfc86">65</td>
                <td class="wchres" style="background-color:#fadf52">66.5</td>
                <td class="wchres" style="background-color:#fadf52">68</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">66</td>
                <td class="wchres" style="background-color:#eee">41</td>
                <td class="wchres" style="background-color:#eee">44.1</td>
                <td class="wchres" style="background-color:#7cf">46.8</td>
                <td class="wchres" style="background-color:#7cf">49.4</td>
                <td class="wchres" style="background-color:#6f1">51.7</td>
                <td class="wchres" style="background-color:#6f1">53.9</td>
                <td class="wchres" style="background-color:#cf7">55.9</td>
                <td class="wchres" style="background-color:#cf7">57.9</td>
                <td class="wchres" style="background-color:#cf7">59.7</td>
                <td class="wchres" style="background-color:#fdfc86">61.4</td>
                <td class="wchres" style="background-color:#fdfc86">63</td>
                <td class="wchres" style="background-color:#fdfc86">64.5</td>
                <td class="wchres" style="background-color:#fadf52">66</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">64</td>
                <td class="wchres" style="background-color:#eee">39.2</td>
                <td class="wchres" style="background-color:#eee">42.3</td>
                <td class="wchres" style="background-color:#7cf">45</td>
                <td class="wchres" style="background-color:#7cf">47.5</td>
                <td class="wchres" style="background-color:#6f1">49.9</td>
                <td class="wchres" style="background-color:#6f1">52</td>
                <td class="wchres" style="background-color:#6f1">54</td>
                <td class="wchres" style="background-color:#cf7">55.9</td>
                <td class="wchres" style="background-color:#cf7">57.7</td>
                <td class="wchres" style="background-color:#cf7">59.4</td>
                <td class="wchres" style="background-color:#fdfc86">61</td>
                <td class="wchres" style="background-color:#fdfc86">62.5</td>
                <td class="wchres" style="background-color:#fdfc86">64</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">63</td>
                <td class="wchres" style="background-color:#eee">38.3</td>
                <td class="wchres" style="background-color:#eee">41.4</td>
                <td class="wchres" style="background-color:#eee">44.1</td>
                <td class="wchres" style="background-color:#7cf">46.6</td>
                <td class="wchres" style="background-color:#7cf">48.9</td>
                <td class="wchres" style="background-color:#6f1">51.1</td>
                <td class="wchres" style="background-color:#6f1">53.1</td>
                <td class="wchres" style="background-color:#6f1">55</td>
                <td class="wchres" style="background-color:#cf7">56.7</td>
                <td class="wchres" style="background-color:#cf7">58.4</td>
                <td class="wchres" style="background-color:#cf7">60</td>
                <td class="wchres" style="background-color:#fdfc86">61.5</td>
                <td class="wchres" style="background-color:#fdfc86">63</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">61</td>
                <td class="wchres" style="background-color:#eee">36.5</td>
                <td class="wchres" style="background-color:#eee">39.5</td>
                <td class="wchres" style="background-color:#eee">42.3</td>
                <td class="wchres" style="background-color:#eee">44.7</td>
                <td class="wchres" style="background-color:#7cf">47</td>
                <td class="wchres" style="background-color:#7cf">49.2</td>
                <td class="wchres" style="background-color:#6f1">51.2</td>
                <td class="wchres" style="background-color:#6f1">53</td>
                <td class="wchres" style="background-color:#6f1">54.8</td>
                <td class="wchres" style="background-color:#cf7">56.5</td>
                <td class="wchres" style="background-color:#cf7">58</td>
                <td class="wchres" style="background-color:#cf7">59.6</td>
                <td class="wchres" style="background-color:#fdfc86">61</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">59</td>
                <td class="wchres" style="background-color:#eee">34.7</td>
                <td class="wchres" style="background-color:#eee">37.7</td>
                <td class="wchres" style="background-color:#eee">40.4</td>
                <td class="wchres" style="background-color:#eee">42.9</td>
                <td class="wchres" style="background-color:#7cf">45.2</td>
                <td class="wchres" style="background-color:#7cf">47.3</td>
                <td class="wchres" style="background-color:#7cf">49.2</td>
                <td class="wchres" style="background-color:#6f1">51.1</td>
                <td class="wchres" style="background-color:#6f1">52.8</td>
                <td class="wchres" style="background-color:#6f1">54.5</td>
                <td class="wchres" style="background-color:#cf7">56.1</td>
                <td class="wchres" style="background-color:#cf7">57.6</td>
                <td class="wchres" style="background-color:#cf7">59</td>
            </tr>
            <tr class="crd text-center">
                <td style="background-color:#e0e9f9;font-weight:700">57</td>
                <td class="wchres" style="background-color:#eee">33</td>
                <td class="wchres" style="background-color:#eee">35.9</td>
                <td class="wchres" style="background-color:#eee">38.6</td>
                <td class="wchres" style="background-color:#eee">41</td>
                <td class="wchres" style="background-color:#eee">43.3</td>
                <td class="wchres" style="background-color:#7cf">45.4</td>
                <td class="wchres" style="background-color:#7cf">47.3</td>
                <td class="wchres" style="background-color:#7cf">49.2</td>
                <td class="wchres" style="background-color:#6f1">50.9</td>
                <td class="wchres" style="background-color:#6f1">52.5</td>
                <td class="wchres" style="background-color:#6f1">54.1</td>
                <td class="wchres" style="background-color:#cf7">55.6</td>
                <td class="wchres" style="background-color:#cf7">57</td>
            </tr>
        </tbody>
    </table>
</div>
<div style="overflow-y: hidden; overflow-x: scroll;">
    <table style="margin-top:1em" class="GoodResults">
        <tbody>
            <tr class="odd">
                <td class="excls">Very Uncomfortable</td>
                <td style="background-color:#fadf52">Uncomfortable</td>
                <td style="background-color:#fdfc86">Alright</td>
                <td class="exclss">Comfortable</td>
                <td style="background-color:#7cf">Dry</td>
            </tr>
        </tbody>
    </table>
</div>
<div>

</div>
