<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/header', {
        title: 'Form'
    }) %>
    <link rel="stylesheet" href="/static/styles/form.css" type="text/css">
    <script src="/static/script/jquery-3.6.0.min.js"></script>
    <script src="/static/script/form.js"></script>
</head>

<body>
    <%- include('../../partials/navbar', {
        active: 0
    }) %>
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="title">Form Antares</h2>
            </div>
            <form method="POST" id="form_register">
                <div class="mb-3"><label class="form-label" for="project">Nama Project</label> <img
                        data-bs-toggle="popover1" title="Nama Project" data-bs-trigger="focus" tabindex="0"
                        data-bs-content="Menu: Applications -> nama project"
                        src="/static/icons/question-circle-fill.svg" class="ms-2 mb-1 pop1"
                        style="filter: invert(49%) sepia(42%) saturate(2109%) hue-rotate(179deg) brightness(104%) contrast(89%);" /><input
                        id="project" class="form-control" type="text" name="project" required /></div>
                <div class="mb-3"><label class="form-label" for="device">Nama Device </label>
                    <img data-bs-toggle="popover2" title="Nama Device" data-bs-trigger="focus" tabindex="0"
                        data-bs-content="Menu: Applications -> Project -> nama device"
                        src="/static/icons/question-circle-fill.svg" class="ms-2 mb-1 pop2"
                        style="filter: invert(49%) sepia(42%) saturate(2109%) hue-rotate(179deg) brightness(104%) contrast(89%);" /><input
                        id="device" class="form-control" type="text" name="device" required /></div>
                <div class="mb-5"><label class="form-label" for="key">Access Key </label><img data-bs-toggle="popover3"
                        title="Access Key" data-bs-trigger="focus" tabindex="0"
                        data-bs-content="Menu: Account -> copy and paste the Key"
                        src="/static/icons/question-circle-fill.svg" class="ms-2 mb-1 pop3"
                        style="filter: invert(49%) sepia(42%) saturate(2109%) hue-rotate(179deg) brightness(104%) contrast(89%);" /><input
                        id="key" class="form-control" type="text" name="key" required /></div>
                <div class="mb-3 text-center"><button class="btn btn-one w-50" type="submit">Kirim</button></div>
            </form>
        </div>
    </section>
    <%- include('../../partials/btn-anchor') %>
    <%- include('../../partials/footer') %>
</body>

</html>
