<footer class="text-white" style="background-color: #2b2f31;">
    <div class="container py-4">
        <div class="row mt-3">
            <div class="col-sm-3">
                <h5>Pages</h5>
                <ul class="list-unstyled">
                    <li><a class="ms-2 text-white my-2" href="/">Home</a></li>
                    <li><a class="ms-2 text-white my-2" href="/app">Aplikasi</a></li>
                    <li><a class="ms-2 text-white my-2" href="/about">About Me</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center py-2" style="background-color: #222425; border-color: #222425;">
        <p class="my-auto">© Copyright 2021 <strong>Thermal.io</strong>. All rights reserved</p>
    </div>
</footer>