<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Thermal.io adalah web IoT untuk menampilkan grafik dari data-data suhu tersimpan dalam cloud base">
<link rel="icon" type="image/png" sizes="16x16" href="/static/icons/app/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/icons/app/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="/static/icons/app/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="/static/icons/app/android-chrome-512x512.png">
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/static/icons/app/apple-touch-icon.png">
<link rel="stylesheet" href="/static/styles/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/static/styles/app.css" type="text/css">
<script src="/static/script/popper.min.js"></script>
<script src="/static/script/bootstrap.min.js"></script>
<title><%= title %></title>