<nav class="navbar navbar-light shadow-sm navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container py-2"><a class="navbar-brand logo" href="/"><img src="/static/icons/app/apple-touch-icon.png" height="64" /></a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item pe-5">
                    <% if(active == 1) { %>
                    <a class='nav-link active' href="/">Home</a>
                    <% } else { %>
                    <a class='nav-link' href="/">Home</a>
                    <% } %>
                </li>
                
                <li class="nav-item pe-5">
                    <% if(active == 2) { %>
                    <a class="nav-link active" href="/app">Aplikasi</a>
                    <% } else { %>
                        <a class='nav-link' href="/app">Aplikasi</a>
                    <% } %>
                </li>
                <li class="nav-item pe-5">
                    <% if(active == 3) { %>
                    <a class="nav-link active" href="/about">About Me</a>
                    <% } else { %>
                        <a class='nav-link' href="/about">About Me</a>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>